.container {
    margin-top: 2em;
    &__title {
        font-family: 'Oswald', serif;
        font-weight: 500;
        font-size: 2em;
        color: #e52354;
        margin-bottom: 2em;
    }
}
.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article {
    flex-wrap: wrap;
    width: 35%;
    text-align: left;
    padding: 10px;
    margin-bottom: 2em;
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 1em;
    &__title {
    font-family: 'Oswald', serif;
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 0.5em;
    }
    &__category {
        background-color:#e52354;
        color: #fff;
        padding: 5px;
        margin-bottom: 0.5em;   
    }
    &__content {
        color: #777;
        margin-top: 0.5em;
        font-size: 0.7em;
    }
}