.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #fff;
    color: rgb(67, 66, 66);
    width: 100%;
    border-bottom: 1px solid #ddd;
    &__links {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
}